button {
    background-color: #fff;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

input {
    font-size: 24px;
}

body {
    background: linear-gradient(#bbb, transparent 1px), linear-gradient(90deg, #bbb, transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startPage {
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    font-size: 20px;
    display: none;

}

.gamePage {
    display: flex;
    flex-direction: column;
}

.gameSettings {
    display: flex;
    flex-direction: column;
}

.playerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.gamePlayers{
    display: flex;
    justify-content: space-between;
}

.gameField {
    width: 330px;
    height: 330px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    border: 5px solid black;
}

.cell {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    cursor: pointer;
    font-size: 90px;
    text-align: center;
    vertical-align: center;
}

.createNewRoom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.list {
    padding-top: 50px;
    width: 50%;
}

.roomList {
    padding-top: 10px;
}

.room {
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin-top: 1px;
}

.available {
    background-color: rgb(155, 220, 155);
}

.full {
    background-color: rgb(241, 108, 108);
}

.empty {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    color: red;
    font-weight: bold;
}

.zero {
    color: red;
}

.win {
    background-color: rgb(155, 220, 155);;
}